{{ 'flickity.css' | asset_url | stylesheet_tag }}
{{ 'flickity.min.js' | asset_url | script_tag }}
{{ 'featured-collection-slider.css' | asset_url | stylesheet_tag }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

{% assign ss = section.settings %}

<div class="feat-coll">
  <div class="feat-coll-container">
    <div class="feat-coll-header">
      {% if ss.title %}
        <h2>{{ ss.title }}</h2>
      {% endif %}
      <h2></h2>
      <a href="{{ ss.chosen_collection.url }}">View All</a>
    </div>
  </div>

  <div class="feat-coll-carousel">

    {% if ss.chosen_collection != blank %}
      {% for product in ss.chosen_collection.products %}
        <div class="carousel-cell">
          <div class="carousel-cell-image">
            <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
          </div>
          <div class="carousel-cell-title">
            <h3>{{ product.title }}</h3>
          </div>
          <div class="carousel-cell-description">
            <p>{{ product.description }}</p>
          </div>
          <div class="carousel-cell-flavour">
            <p>Variant: {{ product.variants.first.title }}</p>
          </div>
          <button class="carousel-cell-cta">
            Add to cart
          </button>
        </div>
      {% endfor %}
    {% endif %}
    
    {% comment %} <div class="carousel-cell">
      <div class="carousel-cell-image"></div>
      <div class="carousel-cell-title">
        <h3>Product title</h3>
      </div>
      <div class="carousel-cell-description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="carousel-cell-flavour">
        <p>Flavour: Original Glazed</p>
      </div>
      <button class="carousel-cell-cta">
        Add to cart
      </button>
    </div> {% endcomment %}

  </div>
</div>

<script>
  var elem = document.querySelector('.feat-coll-carousel');
  var flkty = new Flickity( elem, {
    contain: true,
    wrapAround: true,
    prevNextButtons: false,
    groupCells: window.innerWidth > 768 ? 2 : 1,
    cellAlign: window.innerWidth > 768 ? 'center' : 'left',
  });
</script>

{% schema %}
{
  "name": "Feat Collection Slider",
  "settings": [
    {
      "type": "header",
      "content": "Feat Collection Slider"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "chosen_collection",
      "label": "Chosen Collection"
    }
  ],
  "presets": [
    {
      "name": "Feat Collection Slider"
    }
  ]
}
{% endschema %}
